<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="http://127.0.0.1:4545/bubblespeech/generate" method="post" enctype='multipart/form-data'>
            <input type="file" name="input_image" id="input_image">
            <button type="submit">Valider l'envoi</button>
        </form>
    </div>
</body>
</html>